#chat-footer {
    display: contents;
}

.chat-footer {
    width: 100%;
    min-height: 70px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px #c5c5c5;

}

.chat-footer > form > a {
    margin-left: 24px;
    margin-top: 13px;
    position: absolute;
    color: #868686;
    font-size: 21px;
}

.chat-footer > form > input {
    width: 70%;
    height: 40px;
    margin-left: 8px;
    border-radius: 30px;
    border-color: transparent;
    text-indent: 40px;
}

.chat-footer > form > input:focus {
    outline: none !important;
}

.chat-option-block {
    border: none;
    float: right;
    margin-right: 12px;
    padding: 10px;
}

.chat-option-block > button {
    border: none;
    background: none;
}

.chat-button-active {
    color: rgb(0, 134, 223);
    cursor: pointer;
    transition: 0.2s;
}

/* 
.chat-option-block > button:hover {
    color: rgb(0, 134, 223);
    cursor: pointer;
    transition: 0.2s;
} */

.chat-option-block > button > i {
    font-size: 21px;
}

.chat-option-block > a {
    font-size: 21px;
    padding: 2px;
}