body {
    display:flex; 
    justify-content:center;
    margin: 0;
    background-color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 950px;
}

.header-block {
    width: 100%;
    height: 75px;
    display: flex;
    margin-top: 5px;
}

.nav-block {
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}

.nav-block-active {
    background-color: #fff;
}

.nav-block:hover {
    background-color: #fff;
    transition: 0.25s;
}

.nav-block > a {
    display: block;
}

.nav-block > a > i{
    margin-top: 27px;
    margin-bottom: 20px;
    color: gray;
}

section {
    margin: 5px;
}

.section-border {
    border-radius: 10px;
}

.section-1 {
    width: 42%;
    height: 540px;
    background-color: #ececec;
    box-shadow: 5px 5px 15px #c5c5c5;
    float: left;

}

.contact-header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-header-title {
    margin-left: 30px;
}

.contact-header-options > i {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 19px;
    color: #868686;
}

.contact-body {
    width: 100%;
    height: 480px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    overflow-y: auto;
}

.contact-body::-webkit-scrollbar {
    width: 5px;
}
  
  /* customize the scrollbar thumb */
.contact-body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 134, 223);
    border-radius: 5px;

}
  
  /* customize the scrollbar track */
.contact-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.contact-card {
    height: 69px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
}

.contact-card > p {
    margin: 0;
    padding-left: 10px;

}

.contact-avatar {
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
    margin-top: 12px;
}

.contact-user-info {
    width: 75%;
    float: left;
    padding-top: 15px;
    font-weight: bold;
}

.contact-user-info > span {
    float: right;
    font-weight: normal;
    font-size: 13px;
    color: gray;
}

.contact-user-info > span > i {
    padding-right: 10px;
    /* color: rgb(0, 134, 223); */
}

.contact-user-text {
    float: left;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 100;
    color: gray;
}

.section-2 {
    width: 57%;
    height: 700px;
    box-shadow: 5px 5px 15px #c5c5c5;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.chat-sub-left {
    width: 60%;
    height: 100%;
    float: left;
}

.chat-sub-left > p {
    padding-left: 10px;
    float: left;
    margin-top: 13px;
    font-weight: bold;
}

.chat-sub-left > p > span {
    float: inherit;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 100;
    color: gray;

}

.chat-avatar {
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 45px;
    height: 45px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
    margin-top: 8px;
}

.chat-sub-right {
    width: 40%;
    height: 100%;
    float: right;
    
}

.chat-sub-right > a > i {
    float: right;
    line-height: 3.5;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
    color: #868686;

}

/* Profile */

.profile {
    width: 99%;
    height: 350px;
    border-radius: 10px;
    position: relative;
}

.profile-cover {
    width: 100%;
    height: 250px;
    background-color: #f0f2f5;
    position: absolute;
    border-top-right-radius: inherit ;
    border-top-left-radius: inherit ;
    box-shadow: 5px 5px 15px #c5c5c5;

}

.profile-detail-block{
    width: 100%;
    height: 110px;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    border-radius: inherit;
    box-shadow: 5px 5px 15px #c5c5c5;
}

.profile-detail-info {
    margin-left: 23%;
}
.profile-detail-info > h1 {
    margin-bottom: 12px;
}

.profile-detail-info > p {
    margin: 0;
    font-size: 15px;
    color: gray;
}

.profile-picture {
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 145px;
    height: 145px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    border: 5px solid #fff;
}

.profile-picture::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: green;
}

.profile-tabs {
    width: 99%;
    text-align: center;
    margin-bottom: 5px;
}

.profile-tabs > button {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border: none;
}

.profile-tabs > button:hover {
    background-color: #fff;
    border-radius: 10px;
}

.profile-tabs > .active {
    background-color: #fff;
    border-radius: 10px;
}

.posts {
    width: 64%;
    border-radius: 10px;
    position: relative;
    float: left;
}

.posts > button {
    width: 90px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.posts > button:hover {
    background-color: grey;
    transition: 0.25s;
}

.posts > h2 {
    padding: 15px;
    margin-top: 0px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #fff;
}

.posts > div {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
}

.info {
    width: 33%;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    float: right;
    
}

.info-block {
    margin: 0px 15px 15px;

}

.info-block > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-list > li {
    display: flex;
    line-height: 1.4;
    font-size: 15px;
    margin-bottom: 10px;
}

.info-list > li > i{
    margin-right: 10px;
}